$green: #4cea52;
$darkGreen: rgb(27, 165, 89);
$grey: #d5d5d6;
$black: rgb(27, 26, 26);
$white: #ffffff;

$overlayColor: #000000b3;
$modalBorderColor: #dedede;

$borderRadius: 5px;

$smallButton: 20px;
$mediumButton: 30px;
$largeButton: 40px;

$modalShadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
  hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

$selectShadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
  0px 10px 20px -15px rgba(22, 23, 24, 0.2);

$breakpoints: (
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);
