@import "../abstracts/mixins";

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}

.tablesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .tables {
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
