@import "../abstracts/variables", "../abstracts/mixins";

.appbar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  gap: 60px;
  padding: 10px;

  a {
    text-decoration: none;
    color: $black;
  }
}

.appbarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  background: #ff8b8b;
  padding: 10px;
  border-radius: $borderRadius;
  cursor: pointer;
}
