@import "../abstracts/variables";
@import "../themes/colors";

.ModalOverlay {
  background-color: $overlayColor;
  position: fixed;
  inset: 0;
}

.ModalContent {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 20px;

  background-color: white;
  border-radius: $borderRadius;
  box-shadow: $modalShadow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 13px;
        color: $warningTextColor;
      }
    }
  }

  img {
    border-radius: $borderRadius;
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
}

.ModalInput {
  display: flex;
  align-items: flex-start;
  border: 2px solid $modalBorderColor;
  border-radius: $borderRadius;
  padding: 10px;
  resize: none;
}

.modalDescription {
  font-size: 10px;
  color: $darkGrey;
  word-wrap: break-word;
  grid-row: 2;

  @include respond-to("medium") {
    font-size: 14px;
    width: 460px;
    max-width: 600px;
  }
}

.ModalDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
