@import "../abstracts/variables";

.ModalOverlay {
  background-color: $overlayColor;
  position: fixed;
  inset: 0;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: white;
  border-radius: $borderRadius;
  box-shadow: $modalShadow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 13px;
        color: red;
      }
    }
  }
}

.ModalTitle {
  margin: 0;
  font-weight: 600;
  color: black;
  font-size: 17px;
}

.ModalLabel {
  margin: 0;
  font-weight: 400;
  color: black;
  font-size: 14px;
}

.ModalInput {
  display: flex;
  align-items: flex-start;
  border: 2px solid $modalBorderColor;
  border-radius: $borderRadius;
  padding: 10px;
}
