@import "../abstracts/variables";
@import "../abstracts/mixins";

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  table {
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      border: 1px solid $black;
      padding: 4px;
      max-width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tr:nth-child(even) {
      background-color: $grey;
    }

    @include respond-to("large") {
      td,
      th {
        padding: 10px 50px;
        max-width: 300px;
      }
    }

    @include respond-to("medium") {
      td,
      th {
        max-width: 140px;
      }
    }
  }
}

.viewButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  border: none;
  border-radius: $border_radius;
}
